body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#league-data {
    margin-top: 50px;
}

#leagueIcons ul {
    margin-top: 50px;
}

    #leagueIcons ul li {
        list-style-type: none;
        padding: 5px;
    }

        #leagueIcons ul li a {
            padding: 5px;
            border: 2px ridge #325d88;
        }

            #leagueIcons ul li a img {
                border: 2px ridge #325d88;
            }


                #leagueIcons ul li a:hover, #leagueIcons ul li a img:hover {
                    border: 2px solid #29abe0;
                }



#standing-crest-img {
    margin-right: 5px;
}

#fixtures h4, #standings h4, #results h4 {
    padding: 10px 0;
}

h4 span {
    font-weight: bolder;
    font-size: xx-large;
    padding-right: 20px;
}

#myTabContent {
    border-left: 1px solid #dfd7ca;
    border-right: 1px solid #dfd7ca;
    border-bottom: 1px solid #dfd7ca;
    padding-left: 10px;
    margin-top: -10px;
}

#league-data-container {
    margin-left: 40px;
}


#fixture-verus{
    text-align:center;
    padding-right:5%;
}

#fixtures i, #results i{
    padding-right:10px;
    color:#29abe0
}


#fixtures td,  #results td{
    width:20%;
}

#result-goals{
    text-align:center;
}

#result-goals i{
    padding-left:10px;
    color:#325d88;
}

#result-goals span{
    color:#ff6a00
}
