@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/css/font-awesome.css" />
<div id="league-data" class="row">
    <div class="col-md-12">
        <div id="leagueIcons" class="col-md-1">
            <ul data-bind="foreach:leagues">
                <li>
                    <a href="#" class="btn btn-info" data-bind="click : $root.showLeagueData">
                        <img data-bind="attr:{src:LeagueIcon, alt:LeagueName}" width="50" height="50" />
                    </a>
                </li>
            </ul>
        </div>

        <div id="league-data-container" class="col-md-10">
            <h3 class="text-primary">Select a League to View Fixtures, Results and League Table</h3>

            <ul class="nav nav-tabs">
                <li class="active bg-success"><a href="#fixtures" data-toggle="tab" aria-expanded="true">Fixtures</a></li>
                <li class=""><a href="#results" data-toggle="tab" aria-expanded="false">Results</a></li>
                <li class=""><a href="#standings" data-toggle="tab" aria-expanded="false">League Standings</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in" id="fixtures">
                    <h4 class="text-info"><span class="text-success" data-bind="text : $root.leagueName()"></span>League Fixtures 2015/2016 Season</h4>
                    <table id="fixtures-table" class="table table-striped table-hover table-responsive table-condensed ">
                        <thead>
                            <tr>
                                <th>Home Team</th>
                                <th></th>
                                <th>Away Team</th>
                                <th>Date</th>
                                <th>Kick Off</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:fixtures">
                            <tr>
                                <td data-bind="text:homeTeamName"></td>
                                <td id="fixture-verus"><i class="fa fa-angle-down fa-2x"></i></td>
                                <td data-bind="text:awayTeamName"></td>
                                <td><i class="fa fa-calendar-o"></i><span data-bind="text:date"></span></td>
                                <td><i class="glyphicon glyphicon-time"></i><span data-bind="text:time"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="results">
                    <h4 class="text-info"><span class="text-success" data-bind="text : $root.leagueName()"></span>League Results 2015/2016 Season</h4>
                    <table id="results-table" class="table table-striped table-hover table-responsive table-condensed ">
                        <thead>
                            <tr>
                                <th>Home Team</th>
                                <th></th>
                                <th>Away Team</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:results">
                            <tr>
                                <td data-bind="text:homeTeamName"></td>
                                <td id="result-goals">
                                    <span data-bind="text:result.goalsHomeTeam"></span>
                                    <spn><i class="fa fa-minus"></i></spn>
                                    <span data-bind="text:result.goalsAwayTeam"></span>
                                </td>

                                <td data-bind="text:awayTeamName"></td>
                                <td><i class="fa fa-calendar-o"></i><span data-bind="text:date"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="standings">
                    <h4 class="text-info"><span class="text-success" data-bind="text : $root.leagueName()"></span>League Table 2015/2016 Season</h4>
                    <table class="table table-striped table-hover table-responsive table-condensed ">
                        <thead class="text-center">
                            <tr>
                                <th>#</th>
                                <th class="text-left">Team</th>
                                <th>Played</th>
                                <th>Won</th>
                                <th>Draw</th>
                                <th>Loss</th>
                                <th>Goals</th>
                                <th>Against</th>
                                <th>Goal Diff</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:leagueStandings">
                            <tr>
                                <td data-bind="text:position"></td>
                                <td class="text-left"><img id="standing-crest-img" data-bind="attr:{src:crestURI}" width="20" height="20" /><span data-bind="text:teamName"></span></td>
                                <td data-bind="text:playedGames"></td>
                                <td data-bind="text:wins"></td>
                                <td data-bind="text:draws"></td>
                                <td data-bind="text:losses"></td>
                                <td data-bind="text:goals"></td>
                                <td data-bind="text:goalsAgainst"></td>
                                <td data-bind="text:goalDifference"></td>
                                <td data-bind="text:points"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Head to Head</h4>
            </div>
            <div class="modal-body">
                <p>Last 5 maches they faced each-other.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section scripts {

    @Scripts.Render("~/bundles/KO")

    <script>

        // Knockout VM
        var fixturesViewModel = function () {

            var self = this;

            // my api
            var leagueUri = 'http://localhost:11035/api/leagues';

            // external api
            var apiToken = 'ba5634ed8cc74a94abaa10b8b43e2fab';
            var externalUri = 'http://api.football-data.org/v1';


            // KO observables to hold retrived data and are bound to sections of HTML on page
            self.leagues = ko.observableArray();
            self.leagueStandings = ko.observableArray();
            self.fixtures = ko.observableArray();
            self.results = ko.observableArray();
            self.headToHeadList = ko.observableArray();
            self.leagueName = ko.observable();


            // list of leagues from my api
            function getLeaguesData() {
                ajaxHelper(leagueUri, 'GET').done(function (data) {
                    self.leagueName(data[0].LeagueName);
                    self.leagues(data);

                    // initalize table with data from ex api
                    getLeagueFixtures(data[0].ID);
                    getResults(data[0].ID);
                    getLeagueStandings(data[0].ID);

                });
            }

            // calls above function
            getLeaguesData();


            // fired when league icon clicked
            self.showLeagueData = function (l) {
                self.leagueName(l.LeagueName);
                getLeagueFixtures(l.ID);
                getResults(l.ID);
                getLeagueStandings(l.ID);

            }

            // Ajax method
            function ajaxHelper(uri, method, token, data) {
                return $.ajax({
                    headers: { 'X-Auth-Token': token },
                    url: uri,
                    dataType: 'json',
                    data: data ? JSON.stringify(data) : null
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    toastr.error('Failed to get Data from Server!');
                });
            }

            // gets a list of matches perviously played between two teams
            self.headToHead = function (r) {
                alert(r.id);
                ajaxHelper(externalUri + '/fixtures/' + id + '?head2head=d5', 'GET', apiToken).done(function (data) {
                    self.headToHeadList.removeAll();
                    self.headToHeadList(data);
                });

            }

            // gets list of league fixtures for next 15 days i.e ?timeFrame = n14
            function getLeagueFixtures(id) {

                ajaxHelper(externalUri + '/soccerseasons/' + id + '/fixtures?matchday=10', 'GET', apiToken).done(function (data) {
                    self.leagueStandings.removeAll();

                    $(data.fixtures).each(function (i) {
                        data.fixtures[i].time = data.fixtures[i].date.substring(11, 16);
                        data.fixtures[i].date = data.fixtures[i].date.substring(0, 10);
                    });

                    self.fixtures(data.fixtures);

                });

            }

            // gets results for league id
            function getResults(id) {
                ajaxHelper(externalUri + '/soccerseasons/' + id + '/fixtures?matchday=12', 'GET', apiToken).done(function (data) {
                    self.results.removeAll();

                    $(data.fixtures).each(function (i) {
                        data.fixtures[i].date = data.fixtures[i].date.substring(0, 10);
                    });
                    self.results(data.fixtures);
                });
            }

            // gets league table for league id
            function getLeagueStandings(id) {
                ajaxHelper(externalUri + '/soccerseasons/' + id + '/leagueTable', 'GET', apiToken).done(function (data) {
                    self.leagueStandings.removeAll();
                    self.leagueStandings(data.standing);
                });
            }
        }


        $(document).ready(function () {

            // binds VM to page
            ko.applyBindings(new fixturesViewModel());
        });



    </script>
}